body {
    background-image: url(cool-leafs.jpg);
    height: 2000px;
}

img {
    margin: 5px;
    float: left;
}

.container {
    margin: 10px;
}

#main-content {
    background-color: #fff;
    margin: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    padding: 10px;
    color: #fff;
    text-align: left;
    font-size: 12px;
}